body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;


  background-color: #ffffff;
  background-image: url("../img/main_photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;

}
a {
  text-decoration: none;
} 

.visually-hidden {
 display: none;
}

.main-navigation{
  background-color: #fff;
}
.site-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;

  background-color: #fdfdfd;
} 

.site-navigation,
.sort_by {
  list-style: none;
} 

.site-navigation a {
  color: #000;
  font-weight: bold;
} 


.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #82b3d4;
} 


.information, 
.accommodation, 
.price_per_night  {
  color:#fff;
}

.filter-swimmingpool {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;

}


.hotel-list {
  color:#000;
  background-color:#fff;

}

.results-list {
  color: #000;
  background-color: #fff;
}

.results-list p {
   font-weight: normal;
}

.sort_by a{
  font-weight: normal;
} 

.sort_by_price a{
  color: #81b3d2;
}

.sort_by_type a{
  color: #e0e0e0;
}

.sort_by_rating a{
  color: #e0e0e0;
}


.arrow_up svg: hover,
.arrow_up svg: focus {
   color: #81b3d2;
} 


.hotel_results span, a {
  font-weight: normal; 

}

.hotel_results span {
  color: #5c5c5c;
}


.rating_score {
  color: #bababa;
  background-color: #f2f2f2;
  width: 111px;
  height: 27px;
  font-weight: normal;
}

/*.stars {
  
  background-image: url("../img/star.svg");
  background-repeat:no-repeat center center;
  width: 50px;
  height: 50px;

  
}*/

.hotel_results {
  list-style: none;
} 

.book_hotel {
  color:#fff;
  background-color: #766257;
  border: none;
  text-transform: uppercase;
}

.book_hotel :hover,
.book_hotel :focus {
  background-color: #604e42;
  
}


.learn_more {
  color: #ffff;
  background-color: #81b2d2;
  text-transform: uppercase;
}

.learn_more :hover,
.learn_more :focus {
  color: #fff;
  background-color: #689dbd;
} 


.page-footer {
  color: #ffffff;

  background-color: #f9fbf6;
  background-position: 0 0;
  background-repeat: repeat;

}

.contact-information a {
  color: #000;
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.visitsedona {
  text-align: left;
  font-weight: bold;

}

.social-network {
  color:#fff;
  background-color: 81b3d2;
  text-align: center;

} 

.twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  width: 46px;
  height: 49px;
}

.twitter svg: hover,
.twitter svg: focus {
  color: #fff;
  background-color: #669ebf;
}


.facebook {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  width: 46px;
  height: 49px;
}

.facebook svg:hover,
.facebook svg:focus {
  color: #fff;
  background-color: #669ebf;
}


.youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  width: 46px;
  height: 49px;

} 

.youtube svg:hover,
.youtube svg:focus {
  color: #fff;
  background-color : #669ebf;
  text-decoration: none;
}

.copyright a, span {
  color:#424242;
  text-align: right;


} 

.copyright a, svg:hover,
.copyright a, svg:focus {
  color: #fff;;
  background-color: #80b3d2;
}