body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000; /*изменю позже на белый*/
  text-transform: uppercase;


  background-color: #;
  background-image: url("../img/main_photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;

}
a {
  text-decoration: none;
} 

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;

  background-color: #fdfdfd;
} 

.main-navigation,
.features-list,
.sightseeing-list {
  list-style: none;
} 

.main-navigation a {
  color: #000;
} 


.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #82b3d4;
} 

.features {
  list-style: none;
}

.visually-hidden {
 display: none;
}

.hotel-view {
  text-align: left;
}

.real_town {
  text-align: left;
  color: #fff;
} 

.real_town h2 {
  font-size: 14px;
  line-height: 21px;
}

.feature-item h4,
.sightseeng-item h4 {
  font-size: 14px;
  line-height: 21px;
  color: #000;
} 

.features-list {
  background-color: #fff;
  color: #7d7d7d;
}

.features-list p{
   font-size: 14px;
   font-weight: normal;
}

.accommodation {
   color: #81b3d2;
   background-image: url("../img/house-icon.svg") no-repeat center center;
   width: 95px;
   height: 82px;

} 

.accommodation {
  font-size: 14px;
  font-weight: bold;
}

.food {
   color: #81b3d2;
   background-image: url("../img/burger-icon.svg") no-repeat center center;
   width: 95px;
   height: 82px;

}

.food h4 {
  font-size: 14px;
  font-weight: bold;

}

.souvenir {
   color: #81b3d2;
   background-image: url("../img/gift-icon.svg") no-repeat center center;
   width: 95px;
   height: 82px;

}

.souvenir h4 {
  font-size: 14 px;
  font-weight: bold;
}

.sightseeng-item-one {
  background-color: #81b3d2;
}

.sightseeng-item-one h4 {
   color: #ffff;
}
.sightseeng-item-one p {
  font-size: 14 px;
  color: #ffff;
  font-weight: normal;

} 

.sightseeng-item-two {
 color: #424242;
 background-color: #eeeeee;
}

.sightseeng-item-two h4 {
   color: #000;
}
.sightseeng-item-two p {
  font-size: 14 px;
  color: #424242;
  font-weight: normal;

}

.sightseeng-item-three {
  background-color: #eeeeee;
}

.sightseeng-item-three h4 {
   color: #000;
}
.sightseeng-item-three p {
  font-size: 14 px;
  color: #424242;
  font-weight: normal;

} 

.sightseeng-item-four {
  background-color: #eeeeee;
}

.sightseeng-item-four h4 {
   color: #000;
}
.sightseeng-item-four p {
  font-size: 14 px;
  color: #424242;
  font-weight: normal;

}

.sightseeng-item {
  background-color: #eeeeee;
} 


.find-hotel p{
  font-size: 14 px;
  color: #424242;
  font-weight: normal;
  text-align: center;

}

.form {
  color: #000;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat; 
}

.form h5 {
  font-size: 14px;
  color:#000;
}

.hotel_search {
  font-size: 14px;
  line-height: 21px;
  border: 7px solid #ffffff;
  width:568px;
  height: 483px;
  background-color:#fdfdf;
}


.hotel_search input {
  font: inherit;

  background-color: transparent;
  border: 2px solid;
  border-color: #f2f2f2;
}

.hotel_search: hover,
.hotel_search: focus,
.hotel_search: active {
  background-color:#ebebeb;
}


.contact-information {
  color: #000;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
} 

.hotel-search-button {
  color: #fff;
  background-color:#766357;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  color:#928a87;
  background-color: #663d15;
}

.hotel-search-button input:focus {
  border-color: #ebebeb;
}

.btn-button {
  font: inherit;

  text-align: center;
  color: #424242;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.filter-button-button {
  color: #fff;
  background-color:#82b3d4; 
  vertical-align: middle;
  border: none;
}

.filter-button-button:hover,
.filter-button-button:focus,
.filter-button-button:active {
  background-color: #5596be;
} 



.page-footer {
  color: #ffffff;

  background-color: #f9fbf6;
  background-position: 0 0;
  background-repeat: repeat;
  
}

.contact-information a {
  color: #000;
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.visitsedona {
  text-align: left;

}

.social-network {
  color:#fff;
  background-color: 81b3d2;
  text-align: center;

} 

.twitter {
  background-image: url("../img/twitter.svg");
  width: 46px;
  height: 49px;
}

.twitter svg: hover,
.twitter svg: focus {
  color: #89b7d1;
  background-color: #669ebf;
}


.facebook {
  background-image: url("../img/fb-icon.svg");
  text-decoration: none;
  width: 46px;
  height: 49px;
}

.facebook svg:hover,
.facebook svg:focus {
  color: #89b7d1;
  background-color: #669ebf;
}


.youtube {
  background-image: url("../img/youtube.svg");
  text-decoration: none;
  width: 46px;
  height: 49px;

} 

.youtube svg:hover,
.youtube svg:focus {
  color: #89b7d1;
  background-color : #669ebf;
  text-decoration: none;
}

.copyright a, span {
  color:#424242;
  text-align: right;

} 

.copyright a, svg:hover,
.copyright a, svg:focus {
  color: #94b9d4;
  background-color: #80b3d2;
}



 

