body {

  
  
  
  background-image: url("/img/main_photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.filter_calendar {
  background-color: f2f2f2;
  color: #000; 
}

.number_one_town {
  background-color: 81b3d2;
}

legend {
  background-color: 766357;
}











	